mixin formgroup(id, name, type, helpMome)
	.form-group
		lable.col-lg-2.control-label(for="#{id}")= name
		div
			input.input_xlarge(type="#{type}", id="#{id}", name="#{id}")
			if helpMome
				p.col-lg-offset-2.help-block= helpMome

include header
	form.form-horizontal(method="post", role="form")
		fieldset
			legend 用户注册
			+formgroup("username", "用户名", "text", "你的账户名称，用于登录和显示")
			+formgroup("password", "口令", "password")
			+formgroup("password-repeat", "重复输入口令", "password")
			.form-group
				button.col-lg-offset-2.btn.btn-primary(type="submit") 注册


include footer